# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# yt-dlp cache (optional)
*.cache

# model files (optional if large)
*.pkl

# API keys
.env